<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>

<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <style>
                        .bot_size {
                        height: 50px;
                        width: auto;
                        left: 20em;
                        }
                    </style>
                    <img class="bot_size" src="{{ url_for('static', filename='images/bot.png') }}" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <p class="chatbox__heading--header">EfreiBot support</p>
                    <p class="chatbox__description--header"></p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div> Hi, welcome to EfreiBot chat! Go ahead and send me a message, if you need any help ! 😄</div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Ecrivez un message...">
                <button class="chatbox__send--footer send__button">Envoyer</button>
            </div>
        </div>
        <div class="chatbox__button">
            <style>
                .meme_hauteur {
                height: 40px;
                width: auto;
                }
            </style>
            <button><img class="meme_hauteur" src="{{ url_for('static', filename='images/chatbox-icon.png') }}" /></button>
            
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>